<div class="signin-form collapse dropdown-menu">
    <div class="panel panel-default">
        <div class="panel-heading">
            SIGN IN
        </div>
            <label class="">Username</label>
            <input type="text" class="form-control">
            <label>Password</label>
            <input type="passowrd" class="form-control">
            <div class="btn-group-vertical text-center">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>

    </div>
</div>
