{% extends "FOSUserBundle::layout.html.twig" %}

    {% block hwi_oauth_content %}
        <section class="col-lg-5 col-sm-12 center clearfix">
            <div class="col-lg-12 white-bg">
                {% for owner in hwi_oauth_resource_owners() %}
                    <h3 class="text-center">Sign up with!</h3>
                    <div class="form-group">
                        <a href="{{ hwi_oauth_login_url(owner) }}" class="btn btn-fb form-control relative radius4">{{ owner | trans({}, 'HWIOAuthBundle') }}
                            <i class="icon icon-fb"></i>
                        </a>
                    </div>
                {% endfor %}
                <div class="text-center form-group">or</div>
            </div>
        </section>
    {% endblock hwi_oauth_content %}


    {% block fos_user_content %}
    <section class="col-lg-5 col-sm-12 center clearfix">
        <div class="col-lg-12 white-bg">
            <div class="form-group">
                <a class="btn btn-default form-control radius4" data-toggle="collapse" data-target="#register">
                    Sign up with email
                </a>
            </div>
            <div id="register" class="collapse">
                {% include "FOSUserBundle:Registration:register_content.html.twig" %}
            </div>
        </div>
    </section>
    {% endblock fos_user_content %}

