<!DOCTYPE html>
<html>
<head>
    {% block stylesheet %}
        <link href="{{ asset('bundles/balletwaytoc/assets/css/main.min.css') }}" rel="stylesheet" type="text/css" />
        <link href='http://fonts.googleapis.com/css?family=Yesteryear|Mr+Dafoe|Oswald|Petit+Formal+Script' rel='stylesheet' type='text/css'>
    {%  endblock %}
</head>
<body>

{% include 'BalletWaytocBundle:Layout:header.html.twig' %}

<div class="container-wrapper">
    <div class="container">
        <div class="row">
            {% block content %}

            {% endblock content %}

            <div class="col-sm-3 nopadding clearfix">

                {% block sidebar %}
                    {% include 'BalletWaytocBundle:Layout:sidebar.html.twig' %}
                {% endblock %}

            </div>
        </div>
    </div>
</div>
{% block footer %}
    <footer class="footer-wrap">
        <section class="container pt30">
            <ul class="list-unstyled list-inline social-icons pull-left">
                <li>
                    <a href="https://www.facebook.com/KaunasStreetStyle" target="_blank">
                        <i class="fa fa-facebook"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.pinterest.com/source/waytoc.com/" target="_blank">
                        <i class="fa fa-pinterest"></i>
                    </a>
                </li>
                <li>
                    <a href="https://www.instragram.com" target="_blank">
                        <i class="fa fa-instagram"></i>
                    </a>
                </li>
            </ul>
            <ul class="list-inline pull-right mt10">
                <li class="white-smoke">
                    <i class="fa fa-copyright white-smoke"></i> {{"now"|date('Y') }} Waytoc.com. All rights reserved.
                </li>
            </ul>
        </section>
    </footer>
{% endblock %}
{% block javascript %}
    <script src="{{ asset('bundles/balletwaytoc/assets/js/main.min.js') }}"></script>
{% endblock %}
</body>
</html>