.header-wrap {
  height: 76px;
  background: url("/ballet/web/bundles/balletwaytoc/images/header-icon.png"); }

.navbar-nav > li {
  float: left;
  padding: 0px 12px;
  background: url(/ballet/web/bundles/balletwaytoc/images/down.png) 100px 20% repeat-x;
  margin: -10px 0; }
  .navbar-nav > li:hover {
    background: url(/ballet/web/bundles/balletwaytoc/images/up.png) 100px 0% repeat-x; }

.navbar-default .navbar-nav > li > a {
  color: #d6dcd3; }
  .navbar-default .navbar-nav > li > a:hover {
    color: white; }

.container {
  max-width: 970px; }

.container-wrapper {
  background: url("/ballet/web/bundles/balletwaytoc/images/main.png"); }

.footer-wrap {
  min-height: 100px;
  background-color: #FFE4B5; }

.mt10 {
  margin-top: 10px; }

.panel-green {
  background-color: #37a8b4; }

.panel-orange {
  background-color: coral; }

.panel-blue {
  background-color: skyblue; }

.navbar-default .navbar-collapse, .navbar-default .navbar-form {
  margin: 50px 0; }

.mt10 {
  margin-top: 10px; }

.panel-content {
  padding-bottom: 9px;
  margin-top: 10px;
  border-bottom: 1px solid #eee; }

.nopadding {
  padding-left: 0; }
