{% extends 'BalletWaytocBundle:Layout:frame.html.twig' %}


{% block content %}
    <ul class="list-inline list-unstyled">
        {% for us in user %}
            <li>{{ us.name|default('Empty')}}</li>
            <li>{{ us.email|default('Empty')}}</li>
            <li>{{ us.password|default('Empty')}}</li>
            <br/>
        {% endfor %}
    </ul>
    {#{{ number }}#}
    <div class="container">

    </div>
{% endblock %}